{% extends 'layout.html' %}
{% block title %}
Index Page
{% endblock %}
{% block content %}


    <main onload="">
    <div class="container">

        


            <div for="On" id="load">

                
                    <h5 id="head" style="margin: 0;">📖</h5>
                

            </div>
            <p style="margin-top: 0;" id="context">
              {{ text }}
            </p>
                        <form action="/new"><button style="margin-top: 5%;" class="button" type="submit" value="RETURN">RETURN</button>
            </form>
            
        
    </div>
    <script>
        let text = document.getElementById('context').innerText;
        console.log(text);
        if (text == "Error"){
                document.getElementById('GPTform').style.display = 'none';
        }
        
        </script>
</main>


</html>
{% endblock %}