{% extends 'layout.html' %}
{% block title %}
Index Page
{% endblock %}
{% block content %}
<script>
    function getStatus(){
        fetch('http://127.0.0.1:5000/status')
        .then(response => response.text())
        .then(data => {
          // Process the returned data
          console.log(data);
        })
        .catch(error => {
          // Handle any errors that occur during the request
          console.log('Error:', error);
        });
    }

    
    
    function changeColor(newColor) {
        const elem = document.getElementById("head");
        
        elem.classList.remove("button");
        elem.classList.add("buttonAn")
        
      }
    function glowOn(){
        const headEl = document.getElementById("title")        
        headEl.classList.add("text-glow")
    }
    function glowOff(){
        const headEl = document.getElementById("title")
        const elem = document.getElementById("head");
        elem.classList.remove("text-glow")        
        headEl.classList.remove("text-glow")
    }

</script>

    <main>
    <div class="container">

        


            <div for="On">

                
                    <h5 id="head">🎙️</h5>
                

            </div>
            <form action="/recording"><input onclick="changeColor('red'); glowOn();" class="button" type="submit" value="START" />
            </form>
            <form action="/stopped"><input onclick="glowOff();" class="button" type="submit" value="STOP" />
            </form>
        
    </div>
</main>


</html>
{% endblock %}