{% extends 'layout.html' %}
{% block title %}
AI EXTRACTOR
{% endblock %}
{% block content %}
<script>





</script>

<main onload="deleteChild();">
  <div class="container">




    <div for="On" id="load">


      <h5 id="head">🎙️</h5>


    </div>
    <!--<form action="#"><input onclick="changeColor('red'); glowOn(); displayLoading();" class="button"
        type="submit" value="START" />
    </form>
    <form action="#"><input onclick="glowOff(); deleteChild();" class="button" type="submit" value="STOP" />
    </form>-->
    <form action="/recording"><input onclick="changeColor('red'); glowOn(); " class="button" type="submit"
        value="START" />
    </form>
    <form action="/stopped"><input onclick="glowOff(); displayLoading();" class="button" type="submit" value="STOP" />
    </form> 

  </div>
</main>



{% endblock %}