<html>
  <head>
    <title>{% block title%} AI Extractor {% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css')}}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script>
    
async function getRequest(url = '') {
  const response = await fetch(url, {
      method: 'GET',
      cache: 'no-cache'
  })
  return response.json()
}
/* document.addEventListener('DOMContentLoaded', function () {
  let url = document.location
  let route = "/flaskwebgui-keep-server-alive"
  let interval_request = 3 * 1000 //sec
  function keep_alive_server() {
      getRequest(url + route)
          .then(data => console.log(data))
  }
  setInterval(keep_alive_server, interval_request)()
})
*/
function changeColor(newColor) {
  const elem = document.getElementById("head");

  elem.classList.remove("button");
  elem.classList.add("buttonAn")

}
function glowOn() {
  const headEl = document.getElementById("title")
  headEl.classList.add("text-glow")
}
function glowOff() {
  const headEl = document.getElementById("title")
  const elem = document.getElementById("head");
  elem.classList.remove("text-glow")
  elem.classList.remove("buttonAn")
  headEl.classList.remove("text-glow")
}

function deleteChild() {
  var e = document.getElementById("box-container");
  e.innerHTML = "";
}

function displayLoading() {
  const boxContainer = document.createElement('div')
  boxContainer.id = "box-container"
  const box1 = document.createElement('div')
  box1.classList.add("boxes")
  box1.classList.add("box1")
  const box2 = document.createElement('div')
  box2.classList.add("boxes")
  box2.classList.add("box2")
  const box3 = document.createElement('div')
  box3.classList.add("boxes")
  box3.classList.add("box3")


  boxContainer.appendChild(box1)
  boxContainer.appendChild(box2)
  boxContainer.appendChild(box3)

  //document.body.appendChild(boxContainer)
  //document.getElementById("load").insertBefore(boxContainer, document.getElementById("load").firstChild);
  document.getElementById("load").appendChild(boxContainer)
}
  </script>
  </head>
<header>
    <h1 id="title">AI-Extractor</h1>
</header>
<body>
  {% block content %}
  {% endblock %}
</body>
<div id="copyright" align="center">&copy; 2023 - 2023 github.com/Philiparolfe</div>

</html>